{% extends 'base.html.twig' %}

{% block body %}
<h1>Accueil</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ducimus error eveniet facilis mollitia optio, unde
    veniam? Adipisci consequatur, distinctio ipsam iste laboriosam, libero possimus qui, quia reiciendis rerum similique
    totam? Accusamus assumenda corporis dolores dolorum ipsam reiciendis vel voluptatum!</p><p>Aliquam aperiam at
    debitis deleniti deserunt dolore doloremque eius eligendi excepturi facilis fuga harum id in inventore ipsa
    laboriosam laudantium, maxime molestiae nam natus nesciunt obcaecati quae quia reiciendis sapiente soluta totam
    unde. Explicabo laboriosam, molestiae obcaecati quae suscipit ut.</p>
{% endblock %}